<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="kaweb-cordova-plugin-filespace"
        version="0.0.2">

  <name>KawebCordovaPluginFileSpace</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="KawebCordovaPluginFileSpace">
        <param name="android-package" value="co.uk.kaweb.cordovaplugin.filespace"/>
      </feature>
    </config-file>

    <source-file src="src/android/KawebCordovaPluginFileSpace.java" target-dir="src/kaweb/cordovaplugin/filespace"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="KawebCordovaPluginFileSpace">
        <param name="ios-package" value="KawebCordovaPluginFileSpace" />
      </feature>
    </config-file>

    <header-file src="src/ios/KawebCordovaPluginFileSpace.h" target-dir="FileSpacePlugin"/>
    <source-file src="src/ios/KawebCordovaPluginFileSpace.m" target-dir="FileSpacePlugin"/>
  </platform>

</plugin>
